* {
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Style the header */
#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(55, 53, 58);
  width: 100%;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.2), 0 8px 0 0 rgba(0, 0, 0, 0.19);
  padding: 25px;
  margin-bottom: 10px;
}

#title_header {
  margin-left: 20px;
  width: 25%;
}

#title_header label {
  font-weight: bold;
  font-size: 28px;
  color: #ddd;
  font-family: 'Montez', cursive;
}

/* Style the links inside the navigation bar */
.topnav {
  width: 50%;
}

.topnav label {
  color: #eee;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.topnav label:hover {
  background-color: #ddd;
  color: rgb(55, 53, 58);
  border-radius: 10%;
}

.topnav label.active {
  background-color: #426055;
  color: #eee;
  border-radius: 10%;
}

#cv_button a {
  background-color: rgb(55, 53, 58);
  border: 1.8px solid;
  color: #eee;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 20px;
}

#cv_button a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(55, 53, 58);
  background-color: #eee;
}

/* Style home */
#home:checked~.home {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px 0;
}

#title_home {
  width: 70%;
  color: rgb(55, 53, 58);
  font-weight: bold;
  font-size: 26px;
}

@keyframes head {
  0% {
    transform: translate3d(-400px, -130px, 0px);
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

#left_photos,
#right_photos {
  width: 45%;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: example1 .5s linear;
}

#left_photos img,
#right_photos img {
  width: 100%;
  height: 400px;
}

#left_photos p,
#right_photos p {
  width: 100%;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color: rgb(55, 53, 58);
  margin: 5px;
  padding: 8px;
}

@keyframes example1 {
  0% {
    transform: rotate(-180deg);
    opacity: .1;
  }

  100% {
    transform: rotate(-360deg);
    opacity: 1;
  }
}

@keyframes example2 {
  0% {
    transform: rotate(180deg);
    opacity: .1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

/* Style hobbies */
#about:checked~.about {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: center;
}

.about #info {
  width: 70%;
  color: rgb(55, 53, 58);
  font-size: 20px;
  margin-top: 3rem;
  animation: info 1.5s linear;
}

@keyframes info {
  0% {
    transform: translate3d(-400px, 0px, 0px);
    opacity: .1;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

#info p {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

#info button {
  background-color: rgb(55, 53, 58);
  border: 1px solid;
  color: #ddd;
  border-radius: 25px;
  padding: 13px 40px;
  font-size: 20px;
}

#info button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 21px;
  color: #ddd;
  background-color: rgb(55, 53, 58);
}

.about #image {
  width: 30%;
  animation: image 1.5s linear;
}

@keyframes image {
  0% {
    transform: translate3d(400px, 0px, 0px);
    opacity: .1;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

#image img {
  width: 100%;
  border-radius: 20%;
}

/* Style skills */
#skill:checked~.skill {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  margin: 20px 0;
}

#title_skill {
  width: 100%;
  color: rgb(55, 53, 58);
  font-weight: bold;
  font-size: 26px;
}

#div_skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#div_skill h4 {
  width: 100%;
  text-align: center;
  color: rgb(55, 53, 58);
  font-size: 18px;
  font-weight: normal;
}

@keyframes growProgressBar {

  0%,
  33% {
    --pgPercentage: 0;
  }

  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

p[role="progressbar"] {
  --size: 12rem;
  --fg: #426055;
  --bg: #ddd;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

p[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}

/* Style hobbies */
#hobbies:checked~.hobbies {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  color: rgb(55, 53, 58);
  justify-content: center;
  margin: 30px 0;
  font-weight: bold;
  font-size: 26px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: hob 1.5s linear;
}

@keyframes hob {
  0% {
    transform: translate3d(0px, -550px, 0px);
    opacity: .1;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

.div_hobbies {
  width: 70%;
  margin-top: 15px;
  padding: 15px;
}

/* Style contact */
#contacts:checked~.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  margin: 20px 0;
  font-weight: bold;
  font-size: 26px;
  animation: con 1.5s linear;
}

@keyframes con {
  0% {
    transform: translate3d(0px, 550px, 0px);
    opacity: .1;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

.div_contact {
  width: 70%;
  margin-top: 15px;
  padding: 15px;
  color: #9a9a9a;
  border: 1px solid rgb(159, 158, 158);
  border-radius: 8px;
  transition: all .5s cubic-bezier(.77, 0, .175, 1);
}

.div_contact:hover,
a:hover {

  color: rgb(55, 53, 58);
  transform: scale(1.1, 1.1);

}

a {
  text-decoration: none;
  color: #9a9a9a;
}

/* responsive for middle width */
@media only screen and (max-width:1155px) {
  #header {
    padding: 20px 2px;
  }

  #title_header {
    width: 100%;
    margin: 0 0 5px 0;
    text-align: center;
  }

  .topnav {
    margin: 5px;
    width: 60%;
  }

  .topnav label {
    padding: 10px 8px;
    font-size: 15px;
    margin-top: 5px;
  }

  #cv_button a {
    padding: 10px 25px;
    font-size: 12px;
  }

  #title_home,
  #title_skill {
    font-size: 17px;
 
  }

  .about #info {
    font-size: 13.5px;
    margin-top: 1rem;
  }

  #info button {
    padding: 10px 28px;
    font-size: 14px;
  }

  #info button:hover {
    font-size: 15px;
  }

  #info p {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  p[role="progressbar"] {
    width: 210px;
    height: 210px;
  }

  #hobbies:checked~.hobbies,
  #contacts:checked~.contacts {
    font-size: 18px;
    margin: 20px 0;
  }
}

/* responsive for small width */
@media only screen and (max-width:750px) {
 #header {
   flex-direction: column;
   align-items: center;
  }
  .topnav {
    flex-direction: column;
    display: flex;
    align-items: center;
 
 }
  #cv_button a {
    margin-top: 5px;
  }

  #title_home,
  #title_skill {
    font-size: 14px;
  }

  #home:checked~.homec,
  #about:checked~.about,
  #skill:checked~.skill,
  #hobbies:checked~.hobbies,
  #contacts:checked~.contacts {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #right_photos,
  #left_photos,
  #title_home,
  #title_skill {
    width: 80%;
  }

  #title_skill {
    font-size: 1.2rem;
    text-align: center;
  }

  #about:checked~.about {
    flex-direction: column-reverse !important;
  }

  #info button {
    margin-bottom: 1.5rem;
    padding: 10px 28px;
    font-size: 15px;
  }

  .about #image,
  .about #info {
    width: 70%;
    font-size: 14px;
  }
  .div_hobbies{
    width: 80%;
    margin-top: 5px;
    padding: 15px 5px;
  }
  #hobbies:checked~.hobbies {
    margin: 30px 20px;
    font-size: 14px;
  }
  #contacts:checked~.contacts {
    font-size: 14px;
  }
}